.venv/
02_pandas/deliveries.csv
02_pandas/train.csv
02_pandas/Fortune 500 Companies US.csv
03_matplotlib/sharma-kohli.csv
02_pandas/matches - matches.csv
03_matplotlib/batsman_season_record.csv
03_matplotlib/batter.csv
03_matplotlib/big-array.npy 
03_matplotlib/vk.csv